<div class="col-lg-4 col-md-6 col-12">
  <div class="card mx-auto card-width text-center mb-4">
    <img class="card-img-top" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=1200:*" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ animal.name }}</h5>
      <p class="card-text">{{ animal.kind }}</p>
      <p class="card-text">{{ animal.age }}</p>
      <a href="#" class="btn btn-primary">Pokaż detale</a>
    </div>
  </div>
</div>
