<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adoption mail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="text-align: center">
        <h1>
            <span th:text="${animalName}">Azor</span> finally found home! 🥳
        </h1>
        <p>
            We are glad to inform you that our favourite, <strong th:text="${animalName}">Azor</strong>, finally found home!
        </p>
        <p>
            We are waiting for such days! 🐶
        </p>
    </body>
</html>