<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Failed acceptance mail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="text-align: center">
        <h1>
            We have got a big problem!
        </h1>
        <p>
            Our shelter cannot accept new animal because of: <strong th:text="${reason}">unknown problem</strong>.
        </p>
        <p>
            It is high time to take action!
        </p>
    </body>
</html>