<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Warned acceptance mail</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body style="text-align: center">
        <h1>
            Welcome new animal, <span th:text="${animalName}">Azor</span>, in our shelter! 🥳
        </h1>
        <p>
            It is our responsibility to take care of him/her.
        </p>
        <p>
            We have to take a closer look at problem of: <strong th:text="${message}">unknown warning</strong>.
        </p>
        <p>
            Let's find him/her new home! 🧐
        </p>
    </body>
</html>