<div class="container mt-5">
  <div class="row justify-content-around">
    <div [className]="isDetailsOpen ? 'col-9' : 'col-12'">
      <div class="container">
        <div class="row justify-content-around">
          <app-animals-browser-card *ngFor="let animal of animals"
                                    [animal] = animal
                                    (openDetails) = "openDetails($event)"
          ></app-animals-browser-card>
        </div>
      </div>
    </div>
    <div class="col-3" *ngIf="isDetailsOpen">
      asd
    </div>
  </div>
</div>
<app-app-loader></app-app-loader>
